.Card {
    backdrop-filter: blur(2px);
    border: 5px solid rgba(232, 250, 74, 0.497);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 15px;
    width: 600px;
    text-align: left;
    background-color: rgba(128, 128, 128, 0.8);
    margin-right: 10px;
    
   

}

.title {
    color: gold;
    padding-left: 30px;
    font-size: 24px;
}

.author {
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
}

.description {
    color: gold;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 2px;
    font-size: 25px;
}
.date{
    font-size: 10px;
    padding-left: 30px;
}

.Buttonss {
    display: flex;
    /* Use flexbox layout */
    justify-content:flex-start
    /* Align items to the end of the container */
}

/* Style for individual buttons */




.moreButton {
    width: 30px;
    float: right;

}

.moreButton:hover {
    cursor: pointer;
}

.cont{
    font-size: 10px;
}

.cbox{
    font-size: 15px;
    margin-left: 10px;
}